.dark-bg {
    background-color: #0a0a0a;
}

.text {
    color: #bbbbbb;
    font-family: 'Ubuntu Mono', monospace;
}

/* #params-table {
    float: top;
} */

#game-canvas {
    float: left;
}

#help-table td {
    padding: 10px;
}

td {
    vertical-align: top;
}

.zero-top-margin {
    margin-top: 0;
}
